.remedial-action-plan.societal-risk-table h5 span{
    display: inline-block;
    FONT-WEIGHT: 400;
    font-size: 12px;
    line-height: 15px;
    width: 71%;
    margin-top: 1px;
    vertical-align: top;
    margin-left: 3px;
}