.ant-timeline-item-content {
  margin-left: 52px;
}
.timeline--box--withimage p {
  margin-bottom: 0;
}
.ant-timeline-item-tail {
  position: absolute;
  top: 10px;
  left: 10px;
  height: calc(100% - 10px);
  border-left: 2px solid #000;
}
.ant-timeline-item-head-blue {
  color: #acacac;
  border-color: #acacac;
}
.ant-timeline-item-head {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #acacac;
  border: 2px solid transparent;
  border-radius: 100px;
}
.timeline--box.timeline--box--withimage {
  width: 225px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fcfcfc;
  height: 40px;
  padding: 11px 82px 16px 22px;
  border-radius: 8px;
}
.timeline-bg-blue {
  width: 225px;
  height: 40px;
  padding: 9px 0 15px 21px;
  object-fit: contain;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0px 8px 6.9px 0.1px rgba(0, 0, 0, 0.31);
  background-color: #0e2c52;
}
