.location-risk-box{
    position: relative;
    padding: 0 0 20px !important;
    margin-top: 30px !important;
}
.facility--wrapper .location-risk-box.manning--box--facility h3{
    color: #fff;
}
.location-risk-box:after{
    position: absolute;
    left: 24%;
    height: 84%;
    width: 1px;
    background-color: #acacac;
    clear: both;
    display: block;
    content: '';
    top: 63px;
}
.location-risk-box.manning--box--facility .ant-input{
    border: 1px solid #000000;
    height: 30px;
    border-radius: 5px !important;
    text-align: center;
}

.text-primary{
    color: #0047af !important;
}
.location-bx-header{
    background: #123862;
    border-radius: 4px;
    padding: 20px 30px 10px;
}
.location-box-body{
    padding: 30px;
}